/* Navbar styles */

.nav-item {
	padding-left: 20px;
	padding-right: 20px;
}

.logo {
	font-family: 'Chilanka';
	font-size: 22px;
	float: right;
	line-height: normal;
	transition: color 500ms, transform 500ms;
	margin-right: 5%;
}

.logo:hover {
	color: white;
	transform: scale(1.50, 1.50);
}

.active {
	color: white;
}