<h2>{{ title }}</h2>

<span class="text-success" *ngIf="status == 1">Se ha guardado el projecto exitosamente</span>
<span class="text-danger" *ngIf="status == 0">No se ha podido guardar el projecto</span>
<form #createProjectForm="ngForm" (ngSubmit)="onSubmit(createProjectForm)">
    <div class="form-group">
        <label for="name">Nombre</label>
        <input class="form-control" type="text" name="name" #name="ngModel" [(ngModel)]="project.name" required>
        <span *ngIf="name.touched && !name.valid">Campo requerido</span>
    </div>
    <div class="form-group">
        <label for="description">Descripción</label>
        <textarea class="form-control" name="description" #description="ngModel" [(ngModel)]="project.description" required></textarea>
        <span *ngIf="description.touched && !description.valid">Campo requerido</span>
    </div>
    <div class="form-group">
        <label for="year">Fecha de creación</label>
        <input class="form-control" type="number" name="year" #year="ngModel" [(ngModel)]="project.year">
    </div>
    <div class="form-group">
        <label for="technologies">Tecnologías</label>
        <input class="form-control" type="text" name="technologies" #technologies="ngModel" [(ngModel)]="project.technologies" required>
        <span *ngIf="technologies.touched && !technologies.valid">Campo requerido</span>
    </div>
    <div class="form-group">
        <label for="image">Imagen del projecto</label>
        <input class="form-control-file" type="file" name="image" placeholder="subir imagen" (change)="fileChangeEvent($event)">
    </div>
    <input class="btn btn-dark" type="submit" value="Subir" [disabled]="!createProjectForm.form.valid">
</form>